{% extends '@BenGorUser/layout.html.twig' %}

{% block bengor_user_content %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <form action="{{ path(login_check) }}" method="post">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endif %}

        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="_email" value="{{ last_email }}"/>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <br/>
        <button type="submit">Login</button>
    </form>
{% endblock %}
